<section class="hero" id="about">
    <div class="hero-body">

        <div class="abouts">
            <div class="wrap">
                <h1>About</h1>
                <p>
                    Just a small page to showcase my works. If you are interested in engaging me for your projects, please don't hesitate to use the contact form.<br><br>
                    Kind regards<br>
                    Karl
                </p>
            </div>
        </div>

        <div class="contact">
            <div class="wrap">
            <h1>Contact</h1>

            <form action="https://formspree.io/f/xeqyybnk" method="POST">

                <input type="email" name="email" placeholder="Your email" required>

                <textarea name="message" cols="30" rows="5" placeholder="Your message"></textarea>
              
                <button class="roundbutton" type="submit">Send</button>

              </form>
            </div>

        </div>

    </div>

    <footer class="footer">
        <a class="button plainbutton" onclick="window.scroll(0,0)">BACK TO TOP</a>
    <div class="container">
        <a class="modaltrigger" data-target="copyright">Copyrights</a> & 
        <a class="modaltrigger" data-target="disclaimer">Disclaimers</a>
    </div>
    </article>
    </footer>

</section>