<section class="hero" id="audible">
  <div class="hero-body">

    <div class="columns">

      <div class="column">

        <div class="box">
          <p>
          Some links to audible works of mine. <br> I might some day directly embed those players, but I'd need to include a cookie banner on this page to do this <br> & can't be bothered to write this code right now...so you'll have to click those links yourself. :) <hr>
          <a href="https://www.youtube.com/embed/yNFLAAg0lp0?si=II_X5mXKlYijAYRX" class="externallink">
          Recording & mixing for Trio Kleist</a><br>consisting of Johanna Brault, Benjamin Beck & Sébastien Joly.<br>Video by <a href="https://www.piyproductions.com/" target="_blank" rel="noreferrer noopener">PIY Productions</a>
            <hr>
          <a href="https://mjutclub.bandcamp.com/track/sdk-e-a-p" class="externallink">A trap influenced cautionary tale.</a>
          <br>Released on <a href="https://mjutclub.bandcamp.com/album/surroundings-2">Mjut Surroundings 2</a>
          </p>
        </div>

      </div>

    </div>

  </div>
</section>