<section class="hero" id="audible">
  <div class="hero-body">

    <div class="columns">

      <div class="column yt_column">

        <div class="box">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yNFLAAg0lp0?si=II_X5mXKlYijAYRX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <figcaption>
            Recording & mixing for <a href="https://www.youtube.com/channel/UCGg-uHnvklnHkeblREw0aAg/featured" target="_blank" rel="noreferrer noopener">Trio Kleist</a> consisting of Johanna Brault, Benjamin Beck & Sébastien Joly.<br>Video by <a href="https://www.piyproductions.com/" target="_blank" rel="noreferrer noopener">PIY Productions</a>
          </figcaption>
        </div>

      </div>

      <div class="column bc_column">

        <div class="box bc_box">
          <div class="bandcamp-container">
            <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=485367123/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=3639964448/transparent=true/" seamless><a href="https://mjutclub.bandcamp.com/album/surroundings-2">surroundings 2 by mjut</a></iframe>
          </div>
          <figcaption>
            A trap influenced cautionary tale.<br>Released on <a href="https://mjutclub.bandcamp.com/album/surroundings-2">Mjut Surroundings 2</a>
          </figcaption>
        </div>
        
      </div>

    </div>

  </div>
</section>